* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 5%;
}

html {
    background-color: #f1faee;
}

.my-name {
    color: blue;
    font-family: Verdana;
}

.chars {
    font-weight: bold;
    color: #e63946;
    font-size: 1.5em;
}

.title {}

.note {
    font-style: italic;
}

.actor {}

.mov-thumb {}

.card {
    display: inline-block;
}

.card-title {
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
}

.card-img {
    text-align: center;
    text-justify: middle;
    width: 300px;
    height: 100px;
}

.mod-img {
    width: 200px;
    height: auto
}

.people {
    text-transform: uppercase;
    font-family: "Arial Black";

}

.copyright {
    text-align: center;
}

p {
    margin: 20px;
}

p::first-letter {
    font-size: 1.5em;
}

.title {
    color: #457b9d;
}

.director {
    font-family: "Courier New", Georgia;
    font-style: italic;
}

a {
    text-decoration: none;
}

/* movie */
.info {
    display: none;
}

.movie:hover .info {
    display: block;
}

.mov-list {
    list-style-type: decimal;
}

.mov-info {
    font-size: .8em;
    font-family: Georgia;
}

.info-lbl {
    font-weight: bold;
    color: #2a9d8f;
}

.info-val {
    text-indent: 2%;
}

.movie:hover {
    border: 1px solid red;
}

.movie:hover .mov-title {
    background-color: #457b9d;
    color: #f1faee;
    font-size: 1.5em;
}